.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15em;
  min-width: 10em;
  border: 3px solid #3498db;
  padding: 0.5em;
}

.screen {
  border: 2px solid #000;
  border-bottom: 0px;
  width: 13em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  border: 2px solid #000;
  border-top: 0px;
  width: 13em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

span {
  font-size: 1.5em;
  font-weight: 800;
}
.colums {
  display: flex;
  justify-content: center;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 52;
  -moz-border-radius: 52;
  border-radius: 52px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: .1em;
  width: 2.8em;
  border-style: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
